{% extends 'base.html' %}
{% load static %} 
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Your Bookings</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Number of Tickets</th>
            <th scope="col">Booking Date</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.event.title }}</td>
            <td>{{ booking.num_tickets }}</td>
            <td>{{ booking.booking_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
