{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center bg-primary text-white">
                <h4>Sign Up</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                </form>
                <hr>
                <p class="text-center">Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
